.tooltip {
  position: absolute;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 101px;
  height: 30px;
  background-color: #6e3ae6;
  text-align: center;
  border-radius: 6px;
  /* padding: 5px 0; */
  padding-top: 6px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  margin-left: -70px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49.1%;
  margin-left: 23px;
  border-width: 8px;
  border-style: solid;
  border-color: #6e3ae6 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
