.App {
  text-align: center;
  font-family: "spoqa_han_sans_neo";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1e1e1e !important;
}

/* Start Carousel Style */
.card_animation {
  display: flex;
}

.card_animation .card_animation_slide {
  flex: 1;
  transition: all .5s;
}

.card_animation .card_animation_slide:hover {
  flex: 1.5;
}

.card_animation .card_animation_slide:not(:hover) {
  flex: 1;
}

.animated_carousel .carousel_tray_wrapper {
  min-width: 1260px;
}

.vertical_carousel .carousel_tray_wrapper {
  min-width: 252px;
}

.animated_carousel-multiple .carousel_tray_wrapper {
  min-width: 1267px;
}

.animated_carousel-sport .carousel_tray_wrapper {
  min-width: 1284px;
}

.vertical_carousel.slot_vertical_carousel .carousel_tray_wrapper {
  min-width: 293px;
}

/* carousel__slider-tray--horizontal */

.sport_carousel__slider-tray .carousel__slider-tray--horizontal {
  gap: 10px;
}



/* End Carousel Style */

/* Start Dropdown Arrow Style */
.arrow_box {
  position: relative;
  margin-bottom: -1px;
  background: #ffffff;
}

.arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -10px;
}

/* End Dropdown Arrow Style */

/* Start Tabs Style */

.tab-item-animate {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 12px);
  height: 24px;
  transform-origin: 0 0;
  transition: transform 0.25s;
}

.tabs .tabs-item:first-child.active-tab~.tab-item-animate {
  transform: translateX(0) scaleX(0.333);
}

.tabs .tabs-item:nth-child(2).active-tab~.tab-item-animate {
  transform: translateX(33.333%) scaleX(0.333);
}

.tabs .tabs-item:nth-child(3).active-tab~.tab-item-animate {
  transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}

/* End Tabs Style */